name: Build Python Package

on: 
  push:
    branches: [ main ]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        
      - name: Set Up Ptyhon
        uses: actions/setup-python
        with:
          python-version: "3.12"

      - name: Install Build Module
        run: pip install build
      
      - name: Build Package
        run: python -m build